.slider-images {
  width: 500px;
  height: 120p;
}
.slider-container {
  text-align: center;
  background-color: black;
  height: 400px;
  width: 550px;
  border-radius: 12px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2d2d;
  height: 90vh;
}
.button {
  height: 40px;
  width: 80px;
  background-color: orange;
  border-style: none;
  border-radius: 8px;
}
.heading {
  color: #ffff;
}
